/* colors: */
/* cream #FAF0CA */
/* dark blue #0D3B66 */
/* yellow #F4D35E */

/* ======================== */
/* ===== App and Global ===== */
/* ======================== */

body {
    background-color: white;
}

#app {
    width: 50%;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #FAF0CA;
}


/* ======================== */
/* ===== Header ===== */
/* ======================== */

.header {
    display: flex;
    background: url("https://res.cloudinary.com/btdigital/image/upload/v1550806885/051_qisgu5.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    color: #FAF0CA;
    height: 300px;
    align-items: flex-end;
}

.headerImg {
    width: 100%;
}

.headerTitle {
    padding: 5px 12px;
}

/* ======================== */
/* ===== Form Items ===== */
/* ======================== */


#feedbackForm {
    padding: 15px;
}

.user_info_section {
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.formUserInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 2px 10px;
}

.experience_rating_section {
    padding: 20px 0px;
}

#experience_rating {
    width: 50%;
}

.comments_section {
    padding: 20px 0px;
}

#comment_box {
    background-color: transparent;
}

.formSubmit {
    padding: 5px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    margin: 10px 0px;
}