<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Feedback Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <!-- [if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif] -->

        <!-- App container -->
        <div id="app">

            <!-- Header -->

            <div class="header">
                <!-- <img class="headerImg" src="https://res.cloudinary.com/btdigital/image/upload/v1550806885/051_qisgu5.jpg" class="logo" /> -->
                <h1 class="headerTitle">Feedback</h1>
            </div>

            <!-- Error handling if fields are missing -->

            {% if message %}
                <p class="errorMessage">{{ message | safe }}</p>
            {% endif %}

            <!-- Form -->
            <form
                id="feedbackForm"
                action="/submit"
                method="POST"
            >
                <div class="user_info_section">
                    <!-- first name -->
                    <input
                        type="text"
                        name="customer_first_name"
                        placeholder="First Name"
                        class="formUserInput"
                        required
                    >
                    <!-- last name -->
                    <input
                        type="text"
                        name="customer_last_name"
                        placeholder="Last Name"
                        class="formUserInput"
                        required
                    >
                    <input
                        type="email"
                        placeholder="Email Address"
                        class="formUserInput"
                        name="customer_email"
                        required
                    />
                </div>
                <div class="experience_rating_section">
                    <label>Rate your experience</label>
                    <input 
                        type="range"
                        min="1"
                        max="10"
                        name="experience_rating"
                        id="experience_rating"
                        class="formInput"
                    />
                </div>
                <div class="comments_section">
                    <label>Comments</label>
                    <br>
                    <textarea
                        name="comments"
                        placeholder="Comments"
                        id="comment_box"
                    ></textarea>
                </div>
                <br>

                <!-- submit -->
                <input
                    type="submit"
                    value="Submit"
                    class="formSubmit"
                />
            </form>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>